.card-dialog-crop {
  justify-content: space-around;
  position: relative;

  .preview-img {
    height: 600px;
    width: 600px;
  }

  .btn-close {
    position: absolute;
    right: -10px;
    top: -10px;
  }
}

.v-dialog:not(.v-dialog--fullscreen) {
  max-height: initial !important;
}

.v-dialog { overflow-y: initial !important;}
