.div-home-header {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @media (max-width: 599px) {
    width: 100%;
  }

  .share {
    &-title {
      color: $secondary;
      font-size: 2rem;
    }
  }
}
