.card-size {
  width: 600px !important;
  margin: auto;
}

.card-post {
  width: 600px;

  .image-meta-avatar {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 100px !important;
    height: 100px !important;
  }

  .image-meta-infos {
    position: relative;
    left: 70px;
  }

  .div-image-description {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }

  .preview {
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    height: 600px;
  }
}
